<?xml version="1.0"?>
<config>
    <modules>
        <AffinityEngine_AffinityItems>
            <version>1.1.1</version>
        </AffinityEngine_AffinityItems>
    </modules>
    
    <global>
        <helpers>
            <affinityitems>
                <class>AffinityEngine_AffinityItems_Helper</class>
            </affinityitems>
        </helpers>
        <events>
            <admin_system_config_changed_section_affinityitems>
                <observers>
                    <affinityEngine_updatehosts>
                        <class>AffinityEngine_AffinityItems_Model_Observer</class>
                        <method>updateHosts</method>
                    </affinityEngine_updatehosts>
                </observers>
            </admin_system_config_changed_section_affinityitems>
            
            <checkout_cart_add_product_complete>
                <observers>
                    <affinityEngine_addtocart>
                        <class>AffinityEngine_AffinityItems_Model_Observer</class>
                        <method>addToCart</method>
                    </affinityEngine_addtocart>
                </observers>
            </checkout_cart_add_product_complete> 
            <checkout_cart_update_items_after>
                <observers>
                    <affinityEngine_updatecart>
                        <class>AffinityEngine_AffinityItems_Model_Observer</class>
                        <method>updateCart</method>
                    </affinityEngine_updatecart>
                </observers>
            </checkout_cart_update_items_after>
            <checkout_cart_product_update_after>
                <observers>
                    <affinityEngine_updateproductcart>
                        <class>AffinityEngine_AffinityItems_Model_Observer</class>
                        <method>updateProductCart</method>
                    </affinityEngine_updateproductcart>
                </observers>
            </checkout_cart_product_update_after>
            <sales_quote_remove_item>
                <observers>
                    <affinityEngine_removecart>
                        <class>AffinityEngine_AffinityItems_Model_Observer</class>
                        <method>removeFromCart</method>
                    </affinityEngine_removecart>
                </observers>
            </sales_quote_remove_item> 
            <catalog_product_save_after>
                <observers>
                    <affinityEngine_saveproduct>
                        <class>AffinityEngine_AffinityItems_Model_Observer</class>
                        <method>saveProduct</method>
                    </affinityEngine_saveproduct>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_before>
                <observers>
                    <affinityEngine_savecategory>
                        <class>AffinityEngine_AffinityItems_Model_Observer</class>
                        <method>saveCategory</method>
                    </affinityEngine_savecategory>
                </observers>
            </catalog_category_save_before>
            <sales_order_save_before>
                <observers>
                    <affinityEngine_saveorder>
                        <class>AffinityEngine_AffinityItems_Model_Observer</class>
                        <method>saveOrder</method>
                    </affinityEngine_saveorder>
                </observers>
            </sales_order_save_before>
            <catalog_controller_category_delete>
                <observers>
                    <affinityEngine_deletecategory>
                        <class>AffinityEngine_AffinityItems_Model_Observer</class>
                        <method>deleteCategory</method>
                    </affinityEngine_deletecategory>
                </observers>
            </catalog_controller_category_delete>
            <catalog_product_delete_before>
                <observers>
                    <affinityEngine_deleteproduct>
                        <class>AffinityEngine_AffinityItems_Model_Observer</class>
                        <method>deleteProduct</method>
                    </affinityEngine_deleteproduct>
                </observers>
            </catalog_product_delete_before>
            <controller_action_layout_load_before>
                <observers>
                    <affinityEngine_checkcookie>
                        <class>AffinityEngine_AffinityItems_Model_Observer</class>
                        <method>checkCookie</method>
                    </affinityEngine_checkcookie>
                </observers>
            </controller_action_layout_load_before>
            <customer_login>
                <observers>
                    <affinityEngine_login>
                        <class>AffinityEngine_AffinityItems_Model_Observer</class>
                        <method>login</method>
                    </affinityEngine_login>
                </observers>
            </customer_login>
        </events> 
        <blocks>
            <affinityitems>
                <class>AffinityEngine_AffinityItems_Block</class>
            </affinityitems>
        </blocks>
        <models>
            <affinityitems>
                <class>AffinityEngine_AffinityItems_Model</class>
                <resourceModel>affinityitems_resource</resourceModel>
            </affinityitems>

            <affinityitems_resource>
                <class>AffinityEngine_AffinityItems_Model_Resource</class>
                <entities>		  
                    <ae_log>
                        <table>ae_log</table>
                    </ae_log>
                    <ae_cart_repository>
                        <table>ae_cart_repository</table>
                    </ae_cart_repository>
                    <ae_guest_action_repository>
                        <table>ae_guest_action_repository</table>
                    </ae_guest_action_repository>
                    <ae_sync_rotate>
                        <table>ae_sync_rotate</table>
                    </ae_sync_rotate>
                    <ae_cat_prod_repository>
                        <table>ae_cat_prod_repository</table>
                    </ae_cat_prod_repository>
                </entities>
            </affinityitems_resource> 
        </models>
        <resources>
            <affinityitems_setup>
                <setup>
                    <module>AffinityEngine_AffinityItems</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </affinityitems_setup>
            <affinityitems_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </affinityitems_write>
            <affinityitems_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </affinityitems_read>
        </resources>
    </global>
    <admin>
        <routers>
            <affinityitems>
                <use>admin</use>
                <args>
                    <module>AffinityEngine_AffinityItems</module>
                    <frontName>affinityitems</frontName>
                </args>
            </affinityitems>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <affinityengine module="affinityitems">
                <title>Affinity Engine</title>
                <sort_order>100</sort_order>
                <children>
                    <affinityitems module="affinityitems">
                        <title>Dashboard</title>
                        <sort_order>0</sort_order>
                        <action>affinityitems/adminhtml_affinityitemsbackend</action>
                    </affinityitems>
                    <affinityitems_log module="affinityitems">
                        <title>Logs</title>
                        <sort_order>5</sort_order>
                        <action>affinityitems/adminhtml_affinityitemslog</action>
                    </affinityitems_log>
                    <affinityitemsconfig module="affinityitems">
                        <title>Configuration</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/system_config/edit/section/affinityitems</action>
                    </affinityitemsconfig>
                </children>
            </affinityengine>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <affinity_engine translate="title" module="affinityitems">
                            <title>Affinity Engine</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <affinityitems translate="title">
                                    <title>Dashboard</title>
                                </affinityitems>
                                <affinityitems_log translate="title">
                                    <title>Logs</title>
                                </affinityitems_log>
                                <affinityitems_config translate="title">
                                    <title>Configuration</title>
                                </affinityitems_config>
                            </children>
                        </affinity_engine>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <affinityitems>
                    <file>affinityitems.xml</file>
                </affinityitems>
            </updates>
        </layout>
        <translate>
            <modules>
                <AffinityEngine_AffinityItems>
                    <files>
                        <default>AffinityEngine_AffinityItems.csv</default>
                    </files>
                </AffinityEngine_AffinityItems>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <affinityitems>
                <use>standard</use>
                <args>
                    <module>AffinityEngine_AffinityItems</module>
                    <frontName>affinityitems</frontName>
                </args>
            </affinityitems>
        </routers>
        <layout>
            <updates>
                <storelocator>
                    <file>affinityengine/affinityitems.xml</file>
                </storelocator>
            </updates>
        </layout>
    </frontend>
    
    <default>
        <affinityitems>
            <items_home>
                <number_products>4</number_products>
                <number_products_per_line>4</number_products_per_line>
                <recommendation_config>personalization</recommendation_config>
                <image_size>0</image_size>
                <parent_div>,ae_products_block_center clearfix</parent_div>
                <title_class>ae_block_title_center</title_class>
                <content_div>,ae_content_block_center</content_div>
                <ul>,ae_list_products_block_center</ul>
                <li>,ae_product_block_center</li>
                <product_image_class>ae_img_center</product_image_class>
                <product_name_class>ae_products_name_center</product_name_class>
                <product_dsecription_class>ae_product_dsecription</product_dsecription_class>
                <price_container_class>ae_price_container_center</price_container_class>
                <price_class>ae_price_center</price_class>
            </items_home>
            <items_left>
                <number_products>4</number_products>
                <number_products_per_line>4</number_products_per_line>
                <image_size>0</image_size>
                <parent_div>,ae_products_block_center clearfix</parent_div>
                <title_class>ae_block_title_center</title_class>
                <content_div>,ae_content_block_center</content_div>
                <ul>,ae_list_products_block_center</ul>
                <li>,ae_product_block_center</li>
                <product_image_class>ae_img_center</product_image_class>
                <product_name_class>ae_products_name_center</product_name_class>
                <product_dsecription_class>ae_product_dsecription</product_dsecription_class>
                <price_container_class>ae_price_container_center</price_container_class>
                <price_class>ae_price_center</price_class>
            </items_left>
            <items_right>
                <number_products>4</number_products>
                <number_products_per_line>4</number_products_per_line>
                <recommendation_config>personalization</recommendation_config>
                <image_size>0</image_size>
                <parent_div>,ae_products_block_center clearfix</parent_div>
                <title_class>ae_block_title_center</title_class>
                <content_div>,ae_content_block_center</content_div>
                <ul>,ae_list_products_block_center</ul>
                <li>,ae_product_block_center</li>
                <product_image_class>ae_img_center</product_image_class>
                <product_name_class>ae_products_name_center</product_name_class>
                <product_dsecription_class>ae_product_dsecription</product_dsecription_class>
                <price_container_class>ae_price_container_center</price_container_class>
                <price_class>ae_price_center</price_class>
            </items_right>
            <items_cart>
                <number_products>4</number_products>
                <number_products_per_line>4</number_products_per_line>
                <recommendation_config>personalization</recommendation_config>
                <image_size>0</image_size>
                <parent_div>,ae_products_block_center clearfix</parent_div>
                <title_class>ae_block_title_center</title_class>
                <content_div>,ae_content_block_center</content_div>
                <ul>,ae_list_products_block_center</ul>
                <li>,ae_product_block_center</li>
                <product_image_class>ae_img_center</product_image_class>
                <product_name_class>ae_products_name_center</product_name_class>
                <product_dsecription_class>ae_product_dsecription</product_dsecription_class>
                <price_container_class>ae_price_container_center</price_container_class>
                <price_class>ae_price_center</price_class>
            </items_cart>
            <items_product>
                <number_products>4</number_products>
                <number_products_per_line>4</number_products_per_line>
                <recommendation_config>personalization</recommendation_config>
                <image_size>0</image_size>
                <parent_div>,ae_products_block_center clearfix</parent_div>
                <title_class>ae_block_title_center</title_class>
                <content_div>,ae_content_block_center</content_div>
                <ul>,ae_list_products_block_center</ul>
                <li>,ae_product_block_center</li>
                <product_image_class>ae_img_center</product_image_class>
                <product_name_class>ae_products_name_center</product_name_class>
                <product_dsecription_class>ae_product_dsecription</product_dsecription_class>
                <price_container_class>ae_price_container_center</price_container_class>
                <price_class>ae_price_center</price_class>
            </items_product>
            <items_search>
                <number_products>4</number_products>
                <number_products_per_line>4</number_products_per_line>
                <recommendation_config>personalization</recommendation_config>
                <image_size>0</image_size>
                <parent_div>,ae_products_block_center clearfix</parent_div>
                <title_class>ae_block_title_center</title_class>
                <content_div>,ae_content_block_center</content_div>
                <ul>,ae_list_products_block_center</ul>
                <li>,ae_product_block_center</li>
                <product_image_class>ae_img_center</product_image_class>
                <product_name_class>ae_products_name_center</product_name_class>
                <product_dsecription_class>ae_product_dsecription</product_dsecription_class>
                <price_container_class>ae_price_container_center</price_container_class>
                <price_class>ae_price_center</price_class>
            </items_search>
            <items_category>
                <number_products>4</number_products>
                <number_products_per_line>4</number_products_per_line>
                <recommendation_config>personalization</recommendation_config>
                <image_size>0</image_size>
                <parent_div>,ae_products_block_center clearfix</parent_div>
                <title_class>ae_block_title_center</title_class>
                <content_div>,ae_content_block_center</content_div>
                <ul>,ae_list_products_block_center</ul>
                <li>,ae_product_block_center</li>
                <product_image_class>ae_img_center</product_image_class>
                <product_name_class>ae_products_name_center</product_name_class>
                <product_dsecription_class>ae_product_dsecription</product_dsecription_class>
                <price_container_class>ae_price_container_center</price_container_class>
                <price_class>ae_price_center</price_class>
            </items_category>
            <image_size>
                <default>125,125</default>
                <large>458,458</large>
                <medium>250,250</medium>
                <small>98,98</small>
            </image_size>
        </affinityitems>
    </default>

    <crontab>
        <jobs>            
            <affinityitems_sync>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>affinityitems/cron::Sync</model>
                </run>
            </affinityitems_sync>
        </jobs>
    </crontab>
</config>
